name: Test


on:
  push:
    branches:
      - "main"

jobs:
  test:
    name: Test
    runs-on: windows-latest
    permissions:
      contents: write
      pages: write
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.x
        if: always()
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Install Playwright browsers
        run: |
          python -m playwright install

      - name: Install dependencies
        run: |
          pytest --alluredir=allure-results

      - name: Get Allure history
        if: always()
        uses: actions/checkout@v4
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Allure Report action from repo
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: allure-results
          report_path: allure-report
          keep_history: true

      - name: Deploy report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history