name: Test


on:
  push:
    branches:
      - "main"

jobs:
  test:
    name: Test
    runs-on: windows-latest
    permissions:
      contents: write
      pages: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.x
        if: always()
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install python dependencies
        run: |
          pip install -r requirements.txt

      - name: Install Playwright browsers
        run: |
          python -m playwright install

      - name: Run tests
        run: |
          pytest --alluredir=allure-results -v

      - name: Get Allure history
        if: always()
        uses: actions/checkout@v4
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Generate Allure Report
        if: always()
        shell: pwsh
        run: |
          npm install -g allure-commandline@latest
          Start-Sleep -Seconds 10
          npx allure generate allure-results -o allure-report --clean

      - name: Deploy report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history